[submodule "vim/.vim/bundle/airline"]
	path = vim/.vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/airline-themes"]
	path = vim/.vim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/.vim/bundle/arduino"]
	path = vim/.vim/bundle/arduino
	url = https://github.com/stevearc/vim-arduino.git
[submodule "vim/.vim/bundle/colors-solarized"]
	path = vim/.vim/bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/completor"]
	path = vim/.vim/bundle/completor
	url = https://github.com/maralla/completor.vim.git
[submodule "vim/.vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/go"]
	path = vim/.vim/bundle/go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/bundle/indentline"]
	path = vim/.vim/bundle/indentline
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/.vim/bundle/markdown"]
	path = vim/.vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/repeat"]
	path = vim/.vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/bundle/surround"]
	path = vim/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/unimpaired"]
	path = vim/.vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/.vim/bundle/helm"]
	path = vim/.vim/bundle/helm
	url = https://github.com/towolf/vim-helm.git
[submodule "vim/.vim/bundle/vifm"]
	path = vim/.vim/bundle/vifm
	url = https://github.com/vifm/vifm.vim.git
[submodule "vim/.vim/bundle/toml"]
	path = vim/.vim/bundle/toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim/.vim/bundle/rhubarb"]
	path = vim/.vim/bundle/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
