holiday.de-DE1.name=Neujahr
holiday.de-DE1.date=20210101
holiday.de-DE3.name=Karfreitag
holiday.de-DE3.date=20210402
holiday.de-DE5.name=Ostermontag
holiday.de-DE5.date=20210405
holiday.de-DE6.name=Tag der Arbeit
holiday.de-DE6.date=20210501
holiday.de-DE7.name=Christi Himmelfahrt
holiday.de-DE7.date=20210513
holiday.de-DE9.name=Pfingstmontag
holiday.de-DE9.date=20210524
holiday.de-DE12.name=Tag der Deutschen Einheit
holiday.de-DE12.date=20211003
holiday.de-DE13.name=Reformationstag
holiday.de-DE13.date=20211031
holiday.de-DE17.name=Erster Weihnachtstag
holiday.de-DE17.date=20211225
holiday.de-DE18.name=Zweiter Weihnachtstag
holiday.de-DE18.date=20211226
